/*.product-preview h3 {
  color: black;
}

.product-preview button {
  background-color: #950612;
  color: white;
}*/

.pricetag {
  color: #f50057 !important; /*#aa0000;*/
}

.availability {
  color: #00af00 !important;
}
